.diagram {
  // ----------------------------
  // Diagram canvas
  // ----------------------------
  &-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: 0 0 0;
    // border: 1px solid red;
  }

  // ----------------------------
  // Diagram node
  // ----------------------------
  &-node {
    position: absolute;
    z-index: 1;
    user-select: none;
    cursor: move;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-width: 100px;
    max-width: 300px;
    min-height: 20px;

    &:hover {
      box-shadow: 0px 3px 24px #000000;
    }
    &.active {
      box-shadow: 0 0 30px 0 rgb(98 104 229 / 50%), 0 0 15px 0 rgb(98 104 229 / 59%), 0 2px 4px 0 rgb(0 0 0 / 24%);
    }
  }

  // ----------------------------
  // Port
  // ----------------------------
  &-port {
    transition: background-color 0.25s ease-in-out;
    background-image: url('../../static/linked-port.png');
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-size: 100% 100%;
    width: 10px;
    height: 14px;
    position: absolute;

    &:hover {
      opacity: 0.8;
    }

    &.type-input {
      left: -10px;
      //border-top-left-radius: 8px;
      //border-bottom-left-radius: 8px;
      transform: rotate(-180deg);
    }

    &.type-output {
      right: -10px;
    }

    &.is-linked {
      background-color: #6f9cb1;
      background-image: none;
    }
  }

  // ----------------------------
  // Segment-canvas
  // ----------------------------
  &-segment-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: visible !important;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &-segment-link {
    path {
      stroke: #dae1e7;
      stroke-width: 2px;
      stroke-dasharray: 10, 2;
      fill: transparent;
      animation: BiDashSegmentAnimation 1s linear infinite;
    }

    circle {
      stroke: #dae1e7;
      stroke-width: 2px;
      fill: #88cdff;
    }
  }

  // ----------------------------
  // Link canvas layer
  // ----------------------------
  &-link-canvas {
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible !important;
  }

  &-link {
    pointer-events: stroke;

    // link path
    .bi-link-path {
      stroke: #dae1e7;
      stroke-width: 2px;
      pointer-events: stroke;
      fill: transparent;
      cursor: pointer;
      user-select: none;
    }

    // link ghost
    .bi-link-ghost {
      pointer-events: stroke;
      stroke: transparent;
      stroke-width: 16px;
      fill: transparent;
      cursor: pointer;
    }

    // hover
    &:hover .bi-link-path {
      stroke: #88cdff;
      stroke-dasharray: 10, 2;
      animation: BiDashSegmentAnimation 1s linear infinite;
    }

    /* stylelint-disable-next-line */
    foreignObject {
      width: 100%;
      height: 100%;
      overflow: visible !important;
      pointer-events: none;
    }

    // ----------------------------
    // Link label
    // ----------------------------
    .bi-diagram-link-label {
      display: inline-block;
      color: #fff;
      background-color: #3d4852;
      border-radius: 0.25rem;
      padding: 0.25rem;
      text-align: center;
      font-size: 0.875rem;
      user-select: none;
      min-width: 3rem;
      transform: translate(-50%, -50%);
    }
  }
}

// ----------------------------
// Involved animations
// ----------------------------
@keyframes BiDashSegmentAnimation {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}
