.toolbar {
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 10px;
    min-width: 80px;
  }
}

.scale-popover {
  .scale-item {
    height: 32px;
    line-height: 32px;

    + .scale-item {
      margin-top: 8px;
    }
  }
  .ant-popover-inner-content {
    padding: 4px 10px;
    // width: 64px;
  }
}

.shortcuts-panel {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  list-style: none;
  padding: 8px 0 0 0;
  margin: 0;
  &-item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: #546e7a;
  }
  &-title {
    text-align: right;
    width: 72px;
    color: #263238;
  }
  &-list {
    margin-left: 8px;
    display: flex;
  }
  &-icon {
    width: 26px;
  }
  &-key {
    background-color: rgba(84, 110, 122, 0.1);
    border-radius: 4px;
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
  }
  &-plus {
    width: 20px;
    text-align: center;
  }
}
