.toolbar {
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 10px;
    min-width: 80px;
  }

}

.scale-popover{
  .scale-item {
    cursor: pointer;
    padding-left: 16px;
    height: 32px;
    line-height: 32px;

    + .scale-item {
      margin-top: 8px;
    }

    &:hover {
      background-color: rgba(84, 110, 122, .1);
    }
  }
  .ant-popover-inner-content{
    padding: 4px 0 4px 0;
    width: 64px;
  }
}

