.node-header {
  background-color: rgba(84, 110, 122, 0.2);
  height: 32px;
  line-height: 32px;
  position: relative;

  &-icon {
    width: 36px;
    height: 36px;
    background-color: #0090D0;
    border-radius: 4px;
    position: absolute;
    left: 8px;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

    .anticon {
      font-size: 24px;
      color: #fff;
    }
  }

  &-text {
    padding-left: 52px;
    padding-right: 10px;
    font-weight: bold;
    color: #263238;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

